/* ROOT VARIABLES */
:root {
     --header-font-family: "Moirai One", cursive;
     --body-color: rgb(31, 99, 43);
     --secondary-main-color: rgba(90, 203, 72, 0.501);
     --btn-bg-color: rgba(124, 86, 14, 0.781);
}

/* MAIN ELEMENTS */
body {
    background-color:var(--body-color);
    user-select: none;
}

header {
    display: flex;
    justify-content: center;
    background-color:var(--secondary-main-color);
    height: 100px;
    margin: 20px;
    margin-bottom: 50px;
    box-shadow: 2px 3px 12px black;
    border-radius: 12px;
}

h1 {
    font-family: var(--header-font-family);
    font-size: 3.5rem;
    margin: auto;
    vertical-align: baseline;
}

/* OPTION BUTTONS CONTAINER */
#option-btns-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px;
}

/* POSTS ELEMENTS */
#spotter-posts-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 30px;
    gap: 12px;
    text-align: center;
}

#spotter-posts-container > article {
    background-color: var(--secondary-main-color);
    box-shadow: 1px 2px 5px black;
}

#spotter-posts-container > article:hover {
    box-shadow: 2px 2px 12px black;
}

img {
    object-fit: scale-down;
    width: 20vw;
    height: 30vh;
}

button {
    background-color:var(--btn-bg-color);
    color: aliceblue;
    height: 35px;
    width: 90px;
    margin: 10px;
}

#dialog-detail-view {
    background-color: var(--body-color);
    width: 80%;
    height: 80%;
}

/* CLOSE BTN */
.close {
    position: absolute;
    right: 48px;
    top: 24px;
    width: 24px;
    height: 24px;
    opacity: 0.2;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 40px;
  width: 3px;
  background-color: black;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}
